@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,500);
/*
Author: webthemez.com
Author URL: http://webthemez.com
*/
/*************************
*******Typography******
**************************/
body {
  background: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #353535;
  background: #ffffff;
  padding-top: 60px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  color: #121D29;
}
a {
  color: #45aed6;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #2a95be;
}
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
p{font-size:14px;line-height: 24px;}

.btn-custom{color:#fff!important; border:1px solid #fff!important;}
.white{color:#fff!important;}
.promotion{    position: absolute;
    color: #fff;
    background: red;
    font-weight: bold;
    padding: 5px;
    /* offset-rotate: reverse; */
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(27deg);
    transform-origin: left top;
    right: -9px}



.gradiant {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.gradiant-horizontal {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}
.section-header {
  margin-bottom: 35px;
}
.section-header .section-title {
  font-size: 38px;
  /*color: #ebeef1;*/
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 4px;
  background: #016f2d;
}
.logoSection{
	float: left;
	/* margin-left: 40px; */
}
.fa-car{
	float: left;
	font-size: 28px;
	margin-top: 13px;
	width: 37px;
}
.caption{
	color: #121d29;
	display: block;
	font-size: 14px;
	font-style: italic;
    margin-left: 49px;
}
.btn {
  border-width: 0;
  border-radius: 0;
}
.btn.btn-primary {
  background: #016f2d;
  /*color: #000000;*/
  padding: 10px 20px;
}
form{color:#fff;}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #efa436;
  color: #000;
}
.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
}
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%;
  border-bottom: 1px solid #141414;
}
#features h2{

color: #fff;}

#features p{

color: #A0A0A0;}
#features .media-heading{
color: #fff;
}
ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
ul.nostyle i {
  color: #45aed6;
}
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
.navbar-toggle{
border-radius: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {/* border-color: #141414; */}
.navbar-nav>li>a {
text-transform: uppercase;
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
/*************************
*******Header******
**************************/
#main-nav.navbar-default {background: #fff;}
#main-nav.navbar-default .navbar-nav > li.active > a, #main-nav.navbar-default .navbar-nav > li.open > a, #main-nav.navbar-default .navbar-nav > li:hover > a {background: rgb(255, 193, 7);color: #000000;}
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 13px;
}
.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 0;
  color: #f7ac3d;
  font-size: 34px;
  font-weight: 700;
  margin-top: 18px;
  margin-left: 0;
}
@media only screen and (min-width: 768px) {
  #main-nav.navbar-default {
    background: #ffffff;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border-top: 2px solid #016f2d;
  }
  #main-nav.navbar-default .navbar-nav > li > a {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .navbar-default .navbar-nav>li>a {
	color: rgb(18, 29, 41);
	}
  #main-nav.navbar-default .navbar-nav > li.active > a,
  #main-nav.navbar-default .navbar-nav > li.open > a,
  #main-nav.navbar-default .navbar-nav > li:hover > a {
    background: #016f2d;
    color: #e8e4e4;
    box-sizing: border-box;
  }
  #main-nav.navbar-default .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: rgba(26, 28, 40, 0.9);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
  }
  #main-nav.navbar-default .dropdown-menu > li {
    border-left: 3px solid transparent;
    margin-left: -20px;
    padding-left: 17px;
    -webit-transition: border-color 400ms;
    transition: border-color 400ms;
  }
  #main-nav.navbar-default .dropdown-menu > li > a { 
    padding: 15px 0;
    color:#A8A8A8; 
  }
  #main-nav.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0;
  }
  #main-nav.navbar-default .dropdown-menu > li.active,
  #main-nav.navbar-default .dropdown-menu > li.open,
  #main-nav.navbar-default .dropdown-menu > li:hover {
    border-left-color: #45aed6;
  }
  #main-nav.navbar-default .dropdown-menu > li.active > a,
  #main-nav.navbar-default .dropdown-menu > li.open > a,
  #main-nav.navbar-default .dropdown-menu > li:hover > a {
    color: #45aed6;
    background-color: transparent;
  }
}
#main-slider {
  overflow: hidden;
}
#main-slider .item {
  height: 550px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
#main-slider .slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
  position: relative;
}
#main-slider .slider-inner h2 {
  font-size: 54px;
  line-height: 49px;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#main-slider .slider-inner h2 > span {
  color: #45aed6;
}
#main-slider .slider-inner .btn {
  margin-top: 10px;
  background-color: #FFFFFF;
  color: #121D29;
}
#main-slider .owl-prev,
#main-slider .owl-next {
  position: absolute;
  top: 47%;
  color: #ffc107;
  font-size: 30px;
  display: inline-block;
  margin-top: -35px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  z-index: 5;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
  border-radius: 50%;
}
#main-slider .owl-prev:hover,
#main-slider .owl-next:hover {
}
#main-slider .owl-prev {
  left: -35px;
  text-indent: 14px;
}
#main-slider .owl-next {
  right: -35px;
  text-indent: -14px;
}
#bar {
  width: 0%;
  max-width: 100%;
  height: 2px;
  background: #fff;
}
#progressBar {
  margin-top: -4px;
  position: relative;
  z-index: 999;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}
#hero-text {
  padding: 35px 0;
  background-color: #016f2d;
  border-bottom:2px solid #EAEAEA;
  color: #121D29;
  /* display: none; */
}
#hero-text h2 {
  margin-top: 0;
  color: #121D29;
}
#hero-text .btn {
  margin-top: 40px;
  background-color: #FFFFFF;
  color: #121D29;
}
#cta2 {
  background: #45b1da;
  color: #fff;
  padding-top: 70px;
}
#cta2 .btn {
  margin-top: 10px;
}
#cta2 h2 {
  color: #fff;
  font-size: 44px;
  line-height: 1;
}
#cta2 h2 > span {
  color: #45aed6;
}
#features {
  padding: 100px 0;
  background: #141414;
}
#features .media.service-box:first-child {
  margin-top: 80px;
}
#services {
  padding: 100px 0 75px;
  background: #ffffff;
}
/*==================  Hexagon  ======================*/
.hexagon {
  display: inline-block;
  position: relative;
  padding: 45px 0;
  margin-bottom: 20px;
  /* background: #000; */
}
.hexagon .inner {
  vertical-align: middle;
  display: table-cell;
  width: 150px;
  height: 87px;
  border-left: 1px solid #ffc107;
  border-right: 1px solid #ffc107;
}
.hexagon:before, .hexagon:after {
  content: '';
  position: absolute;
  top: 45px;
  left: 0;
  width: 150px;
  height: 87px;
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  border-right: 1px solid #ffc107;
  border-left: 1px solid #ffc107;
}
.hexagon:after {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.hexagon .inner .fa {
    text-align: center;
    font-size: 50px;
    width: 100%;
    color: #016f2d;
}

.media.service-box {
  margin: 25px 0 36px;
  text-align: center;
  background: #ffffff;
  padding: 25px;
  border: 4px solid #eaeaea;
}
.media.service-box .pull-left {
  margin-right: 20px;
}
.media.service-box .pull-left > i {
  font-size: 54px;
  height: 67px;
  line-height: 64px;
  text-align: center;
  width: 64px;
  color: #05BA8E;
  transition: background-color 400ms, background-color 400ms;
  position: relative;
}
 
.media.service-box:hover .pull-left > i {
  color: #121D29;
}
.carousel-caption{position: absolute;width: 100%;float: left;/* background: rgba(0, 0, 0, 0.18); */margin: 0;left: 0;right: 0;bottom: 0;top: 0;height: 100%;}
.carousel-content{
position:absolute;
	
}
#portfolio {
  padding: 100px 0;
  background: #016f2d;
}
#portfolio .portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
  display: inline-block;
}
#portfolio .portfolio-filter > li {
  float: left;
  display: block;
}
#portfolio .portfolio-filter > li a {
  display: block;
  padding: 7px 15px;
  margin:0px 2px;
  background: #fff;
  color: #64686d;
  position: relative;
}
#portfolio .portfolio-filter > li a:hover,
#portfolio .portfolio-filter > li a.active {
  background: #E95D90;
  color: #fff; 
} 
#portfolio .portfolio-items {
  margin: -15px;
}
#portfolio .portfolio-item {
  width: 24.9%;
  float: left;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#portfolio .portfolio-item .portfolio-item-inner {
  position: relative;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
  opacity: 0;
  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 18px 0 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  height:100%;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: #fff;
  margin-top: 15%;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview { 
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #F1F1F1;
  display:block;
  text-align: center;
margin: 15px auto;
  font-size: 40px;
}
#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.img-thumbnail {
display: inline-block;
max-width: 100%;
height: auto;
line-height: 1.42857143;
border: 1px solid #ddd;
border-radius: 0px;
padding:0px;
-webkit-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
margin-bottom: 15px;
}
#testimonial {
  background: #031127;
  background-size: cover;
  padding: 100px 0;
  color: #fff;
}
#testimonial h4 {
  color: #fff;
  margin-bottom: 8px;
}
#testimonial small {
  display: block;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
}
#testimonial .btns {
  margin-top: 10px;
}
#carousel-testimonial a.btn.btn-primary.btn-sm {
background: transparent;
border: 1px solid rgba(255, 255, 255, 0.2);
margin: 0 8px;
color: #fff;}
#about {
  padding: 100px 0;
}
.carousel-content{
  padding: 20px;
  color: #fff;
  position: absolute;
  text-align: left;
  bottom: 10%;
  right: 0;
  left: 11%;
  margin: 0 auto;
}
.carousel-content p{font-size: 24px;/* text-align: left; */text-transform: uppercase;}
.carousel-content .btn{

}
.imgs img{
  padding: 0;
  background-color: #F6D600;
}
/*Team*/ 
#our-team {
  padding: 100px 0;
  background: #ececec;
}
#our-team .team-member {
  padding: 10px;
  border: 2px solid #ffffff;
  background: #016f2d;
}
#our-team .team-member .team-img {
  margin: -15px -10px 0 -10px;
}
#our-team .team-member .team-info {
  /* padding-bottom: 10px; */
  text-align: center;
} 
#our-team .team-member:hover .social-icons > li > a {
  background: #45aed6;
}
#our-team .team-member:hover .social-icons{ 
height:35px; 
}
#our-team .social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  height:0px; 
  overflow:hidden;
  -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
    transition: height 1s;
}
#our-team .social-icons > li {
  display: inline-block;
}
#our-team .social-icons > li > a {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  background: #222534;
  border-radius: 3px;
}
.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: -moz-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -webkit-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -ms-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  width: 95%;
  height: 1px;
}
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #eeeeee;
}
.progress .progress-bar.progress-bar-primary {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nav.main-tab {
  background: #eee;
  border-bottom: 3px solid #222534;
  border-radius: 3px 3px 0 0;
}
.nav.main-tab > li > a {
  color: #272727;
}
.nav.main-tab > li.active > a {
  background: #222534;
  color: #45aed6;
}
.nav.main-tab > li:first-child > a {
  border-radius: 3px 0 0 0;
}
.nav.main-tab > li:last-child > a {
  border-radius: 0 3px 0 0;
}
.tab-content {
  border: 1px solid #eee;
  border-top: 0;
  padding: 20px 20px 10px;
  border-radius: 0 0 3px 3px;
}
.panel-default {
  border-color: #eee;
}
.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #eee;
}
.panel-default > .panel-heading .panel-title {
  font-size: 14px;
  font-weight: normal;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eee;
}
#business-stats {
  padding: 100px 0 70px;
  background: #132125;
  background-size: cover;
  color: #fff;
}
#business-stats h1,
#business-stats h2,
#business-stats h3,
#business-stats h4 {
  color: #fff;
}
#business-stats strong {
  display: block;
  margin-bottom: 30px;
}
.business-stats {
  display: inline-block;
  width: 140px;
  height: 140px;
  font-size: 24px;
  line-height: 140px;
  border: 3px solid #fff;
  border-radius: 100px;
  margin-bottom: 20px;
}
#pricing {
  padding: 100px 0 70px;
}
#pricing ul.pricing {
  list-style: none;
  padding: 0;
  margin: 70px 0 30px;
  border: 5px solid #eee;
  padding: 15px;
  text-align: center;
  /* background: #EEE; */
}
#pricing ul.pricing li {
  display: block;
  padding: 10px;
}
#pricing ul.pricing li.plan-header {
  /* background: #eee; */
  margin: -15px -15px 10px;
  padding: 15px 15px 30px;
  border: 0;
}
#pricing ul.pricing li.plan-header .price-duration {
  position: relative;
  margin-top: 15px;
  top: -10px;
  display: inline-block;
  width: 100%;
  height: 116px; 
  color: #000;  
  border-bottom: 1px dashed #696363;
}
#pricing ul.pricing li.plan-header .price-duration > span {
  display: block;
  line-height: 1;
}
#pricing ul.pricing li.plan-header .price-duration > span.price {
  font-size: 24px;
  font-weight: 700;
  margin-top: 35px;
  /* background: #ffffff; */
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: block;
  clear: right;
  margin: 0 auto;
  line-height: 150px;
  font-size: 32px;
}
#pricing ul.pricing li.plan-header .price-duration > span.duration {
  margin-top: 5px;
}
#pricing ul.pricing li.plan-header .plan-name {
  margin-top: 10px;
  font-size: 24px;
  color: #121D29;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}
#pricing ul.pricing.featured {
  background: #ffffff;
  border-color: #ffc107;
}
#pricing ul.pricing.featured li.plan-header {
  /* background: #D7D7D7; */
}
#pricing ul.pricing.featured li.plan-header .plan-name {
  color: #121D29;
}
#contact-us {
  padding: 100px 0 50px;
  /* background: #D2D2D2; */
  color: #121D29;
}
#contact-us h1,
#contact-us h2 {
  color: #121D29;
}
/*Contact*/
 .contact-info{
 padding:60px 0;
 }
.contact-info address {
margin-bottom: 20px;
font-style: normal;
line-height: 27px;
font-size: 15px;
}
.contact-info .form-control { 
padding: 6px 12px;
border-radius: 0;
}
 
/***********************
********* Footer ******
************************/
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #031127;
}
#footer a {
  color: #ffc107;
}
#footer a:hover {
  color: #45aed6;
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
}
#footer ul > li {
 display: inline-block;
 /* background: rgb(54, 54, 54); */
 padding: 3px 0;
 width: 31px;
 text-align: center;
}
.help-block ul{
	padding-left:14px;
}
.help-block ul li{
	list-style:none;
	color:red;
}
@media only screen and (min-width: 768px) {
  #footer .social-icons {
    float: right;
  }
  
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}
@media only screen and (max-width: 480px) {
#main-slider .item {
    height: 400px;  
    background-position: 70% 0;
    background-size: cover;
}	
#portfolio .portfolio-filter {
list-style: none;
padding: 0;
margin: 0 0 12px;
}
#portfolio .portfolio-item{
	width:40%;
}
#portfolio .portfolio-filter > li a {
display: block;
padding: 7px 15px;
margin: 5px 2px;
}
	#portfolio .portfolio-item {
	width: 48.9%;
	padding: 8px;
	}
	#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
width: 28px;
height: 24px;
line-height: 24px; 
margin: 9px auto;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
padding: 7px 0 0;
}
}

